:root {
  --body-background: #F7DDD4;
  --white: white;
  --container-highlight-blue: #B0C4DE;
  --card-background-color: #448D76;
  --text-orange: #FD4D0C;
  --section-title-background-color: #D4EEF7;
}

body {
  background-color: var(--body-background);
}

header, #about_me, #contact_info {
  font-family: 'Noto', 'Trebuchet MS', Arial, sans-serif;
  background-color: var(--card-background-color);
  color: var(--white);
}

header, footer {
  padding: 20px;
}

main, #about_me, #contact_info {
  position: relative;
}

.section-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  width: 25%;
  background-color: var(--section-title-background-color);
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

.section-title h3 {
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.multi-language-name-header {
  display: flex;
  flex-direction: column;
  width: 35%;
}

header .header-title {
  font-size: 48px;
  margin: 0 5px;
}

.link-bar-icons {
  display: flex;
  align-items: center;
}

.link-bar {
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  display: flex;
}

.link-bar li {
  list-style-type: none;
  margin-left: 25px;
  color: var(--text-orange)
}

.link-bar li a:visited{
  color: var(--white);
}

/*
main section
*/

#projects {
  display: grid;
  width: 100%;
  height: 2000px; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: 
    "first first second second" 
    "first first third third"
    "fourth fourth fifth fifth";
  margin: 10px 0;
}

#projects > div {
  background-size: cover;
  background-attachment: fixed;
}

#projects #first-project-container {
  grid-area: first;
  cursor: pointer;
  background: url('../images/first_project_screen_recording.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

#projects #second-project-container {
  grid-area: second;
}

#projects #third-project-container {
  grid-area: third;
}

#projects #fourth-project-container {
  grid-area: fourth;
}

#projects #fifth-project-container {
  grid-area: fifth;
}

/* 
Effectively makes project cards by default grayscale and resume color on hover
*/
.project-container {
  position: relative;
  background: url('../images/pexels-monstera-7794425.jpg');
  border: 2px solid 	var(--container-highlight-blue);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  /* cursor: pointer; */
}

.project-container:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.project-card-title {
  position: absolute;
  bottom: 0;
  margin-left: -5px;
  background-color: 	var(--container-highlight-blue);
  border: 2px solid 	var(--container-highlight-blue);
  width: 100px;
  text-align: center;
}

.project-card-title h3 {
  font-weight: bold;
}

.project-container:hover .project-card-title {
  color: var(--white);
  text-shadow: black 0px 0px 10px;
}

.project-card-description {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-top: 100px;
  /* margin-right: 100px; */
  visibility: hidden;
  text-shadow: var(--white) 0px 0px 10px;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.6);
  color: black;
  text-align: center;
}

.project-container:hover .project-card-description {
  visibility: visible;
}

/*
About Me Section within main
*/

.about_me_row_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding-top: 70px;
}

.about_me_row_container > * {
  margin: 10px;
}

.about_me_row_container p {
  width: 400px;
  overflow-wrap: break-word;
}

.headshot_with_links {
  display: flex;
}

.link-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.github-linkedin-links-nav-bar, .github-linkedin-links {
  display: flex;
  justify-content: space-around;
}

.github-linkedin-links-nav-bar {
  width: 100px;
}

.link-icon-container > * {
  margin: 10px;
}

/*
contact_info section
*/

.contact-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.contact_container_column {
  margin: 30px 100px;
}

#contact-blurb-card {
  flex: 2 1 0;
}

#contact-form-card {
  flex: 5 1 0;
}

#contact-blurb-card > * {
  text-align: center;
}

.contact-input {
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
}

.input-submit-button {
  margin: 0 10px;
}

.input-submit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* media query for larger screens */
@media screen and (max-width: 1200px) {
  #contact_info, .contact-cards {
    display: flex;
    flex-direction: column;
  }

  header {
    flex-direction: column;
  }

  .multi-language-name-header {
    width: 100%;
    align-items: center;
  }

 #korean-name {
    display: block;
  }

  #projects {
    grid-template-areas: 
      "first"
      "second"
      "third"
      "fourth"
      "fifth";
    grid-template-columns: 1fr;
  }

  .project-card-description {
    font-size: 15px;
  }

  #contact-blurb-card, #contact-form-card {
    flex: 1 1 0;
  }

  .link-bar-icons {
    flex-direction: column;
  }

  .link-bar {
    flex-direction: column;
  }

  .link-bar > li {
    margin: 10px 0;
  }
}

 